@font-face{
    font-family: firstfont;
    src: url(Springtime.ttf);
}
@font-face{
    font-family: secondfont;
    src: url(coffee_written.woff);
}
@font-face{
    font-family: thirdfont;
    src: url(fresca.ttf)
}
body{
    font-family: verdana;
    text-align: center;
    background-image: url(images/shootingstars.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutme{
    width: 800px;
    border: 1px hidden ;
    border-radius: 15px;
    background-color: lavenderblush;
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
    margin: auto;
    font-family: thirdfont;
    font-size: 25px;
    color: pink;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
    text-align: left;
    padding: 5px;
    background-color: lightcyan;
    border: 1px hidden;
    border-radius: 15px;
    color: darkturquoise;
}
.hobbies{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: lightcyan;
    text-align: left;
    border: 1px hidden;
    border-radius: 15px;
}
ol{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: lightcyan;
    text-align: left;
    border: 1px hidden;
    border-radius: 15px;
}
.list{
    color: darkturquoise;
}
img{
    margin: 25px;
    position: relative;
    bottom: 40px;
}
#navigationbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lavenderblush;
}
nav li{
    float: left;
}
 nav li a{
    display: block;
    color: pink;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-family: thirdfont;
    font-size: 40px;
    float: left;
}
nav li a:hover{
    background-color: lightpink;
    color: white;
    padding: 20px;
    float: left;
}
h1{
    color: pink;
    font-size: 40px;
    text-align: center;
    Font-family: firstfont;
    margin: 0 auto auto auto;
    background-color: lavenderblush;
    width: 20%;
    position: relative;
    bottom: 85px;
}
h2{
    color: darkturquoise;
    text-align: center;
}
#school{
    text-align: center;
}

